html, header, body {
  max-width: 360px;
  background-color: #eeeeee;
  font-family:"Microsoft YaHei";
}
div {
  max-width: 360px;
  text-align:center; 
}
a:hover, a:focus {
color: #56d057;
text-decoration: underline;
}
.info {
  position: relative;
  display: inline-block;
  clear: both;
  width: 100%;
  height: 100%;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #56d057;
  margin-top: 10px;
}
.info > p {
  color: #56d057;
  font-size: 1.1em;
  float: left;
}
.info-t {
  width: 25%;
}
.info-c {
  width: 60%;
}
.info-i {
  width: 5%;
}
.tip {
  margin: 20px auto;
  font-size: 14px;
  color: #bcbcbc;
}
.tip-green {
  color: #56d057;
  font-size: 16px;
  text-decoration: underline;
  font-style:italic;
}
.attent {
  position: relative;
  display: inline-block;
  clear: both;
  width: 80%;
  margin: 0 auto;
}
.attent-bg {
  background-color: #56d057;
  padding: 10px 30px;
}
.attent-i-l {
  float: left;
  margin-top: 8px;
  width: 7%;
}
.attent-i-r {
  float: right;
  margin-top: 8px;
  width: 7%;
}
.attent-p {
  float: left;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
}
.back {
  position: relative;
  display: inline-block;
  border-top-style: solid;
  border-top-color: #56d057;
  border-top-width: 1px;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 2px;
}
.back-i {
  float: left;
  margin-left: 6%;
}
.back-p {
  float: left;
  margin-left: 3%;
  color: #56d057;
  font-size: 18px;
  line-height: 100%;
}
.affix {
  background-color: #eeeeee;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#baidumap{
  width: 100%;
  height: 175px;
  margin: 0;
  position: absolute;
  top: 0px;
  visibility: hidden;
  border-radius: 5px;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  max-width: 1080px;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#mySwipe{
width:100%;
margin:0 auto;
}

.off{
display: inline-block;
width: 10px;
height: 10px;
border-radius: 10px;
background: #f3f3f3;
margin: 0 2px;
cursor: pointer;
}
.on{
display: inline-block;
width: 10px;
height: 10px;
border-radius: 10px;
background: #141414;
margin: 0 2px;
cursor: pointer;
}
.images-pointer{ 
position: absolute; 
z-index: 1; 
left: 0; 
bottom:0px; 
width: 100%; 
color: #fff; 
background: rgba(0,0,0,.5); 
height: 20px; 
line-height: 20px; 
overflow: hidden; 
} 