.record-bg {
  background-image: url(../../img/elove/records_title_bg.jpg), url(../../img/elove/footer_bg_2.jpg);
  background-repeat: no-repeat;
  background-position: top, bottom;
}
.video {
  margin: 0 auto;
  width: 90%;
}
.video-container {
  padding-bottom: 30px;
}
.photo-list {
  display: block;
  margin: 10px auto;
  width: 90%;
  padding: 8px;
  background-color: #ffffff; 
}
.photo-list > img {
  width: 100%;
  height: auto;
}