body{
  background-image: url(../../img/elove/footer_bg_1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.logo-container {
  position: absolute;
  top: 40px;
  display: block;
  height: auto;
  width: 100%;
  z-index: 1;
}
.logo {
  display: block;
  height: 86px;
  width: 86px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin: 5px;
  background-size: 100% 100%;
  overflow: hidden;
  z-index: 2;
}
.title {
  margin: auto;
}
.message {
  height: auto;
  width: 100%;
  margin: 20px auto;
}
.message-title,
.message-content {
  height: auto;
  width: 60%;
}
.info-list {
  margin: 20px auto;
}
.info-list > li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  clear: both;
  width: 100%;
  margin: 5px auto;
}
.info-list > li > div {
  position: relative;
  float: left;
}
.info-title {
  color: #ffffff;
  background-color: #d8465d;
  width: 20%;
  height: 50px;
  display: table;
}
.info-title > p {
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}
.info-content {
  color: #d8465d;
  font-size: 14px;
  background-color: #faebee;
  width: 65%;
  line-height: 50px;
}
.info-content > p {
  margin: 0 auto;
}
.info-content > p > a {
  color: #d8465d;
  text-decoration:none;
}
.btn-block {
  width: 60%;
  margin: 0 auto;
}
#baidumap{
  width: 100%;
  height: 150px;
  margin: 0;
  position: absolute;
  top: 100px;
  visibility: hidden;
  border-radius: 5px;
}