.photo-container {
  width: 100%;
}
.photo {
  background-repeat: no-repeat;
  background-size: 180px 180px;
  background-position: top;
}
.baby-name {
  position: absolute;
  top: 390px;
  left: 54%;
  color: #ffffff;
  font-size: 18px;
  margin: 7px auto 0 auto;
  z-index: 1;
  font-weight:900;
}
@media (max-width: 370px){
  .baby-name {
    position: absolute;
    top: 380px;
    left: 54%;
    color: #ffffff;
    font-size: 18px;
    margin: 7px auto 0 auto;
    z-index: 1;
    font-weight:900;
  }
}
@media (max-width: 360px){
  .baby-name {
    position: absolute;
    top: 370px;
    left: 54%;
    color: #ffffff;
    font-size: 18px;
    margin: 7px auto 0 auto;
    z-index: 1;
  }
}
@media (max-width: 350px){
  .baby-name {
    position: absolute;
    top: 360px;
    left: 54%;
    color: #ffffff;
    font-size: 18px;
    margin: 7px auto 0 auto;
    z-index: 1;
    font-weight:900;
  }
}
@media (max-width: 340px){
  .baby-name {
    position: absolute;
    top: 350px;
    left: 54%;
    color: #ffffff;
    font-size: 18px;
    margin: 7px auto 0 auto;
    z-index: 1;
    font-weight:900;
  }
}
@media (max-width: 330px){
  .baby-name {
    position: absolute;
    top: 340px;
    left: 54%;
    color: #ffffff;
    font-size: 18px;
    margin: 7px auto 0 auto;
    z-index: 1;
    font-weight:900;
  }
}
@media (max-width: 320px){
  .baby-name {
    position: absolute;
    top: 330px;
    left: 54%;
    color: #ffffff;
    font-size: 18px;
    margin: 7px auto 0 auto;
    z-index: 1;
    font-weight:900;
  }
}
.btn-story {
  width: 35%;
  margin: 10px;
}