html, header, body {
  max-width: 360px;
  background-color: #E8E7E4;
  font-family:"Microsoft YaHei";
  color: #666666;
  background-color: #eee;
}
div {
  max-width: 360px;
  text-align: left; 
}
h4 {
  font-family:"Microsoft YaHei";
  font-weight: bold;
  color: #000;
}
.menu-list-model {
  background-color: #fff;
  width: 100%;
  border: solid #aaa 1px;
  border-radius: 3px;
  padding: 5px 10px;
}