html, header, body {
  max-width: 360px;
  background-color: #E8E7E4;
  font-family:"Microsoft YaHei";
  color: #666666;
  background-color: #eee;
}
div {
  max-width: 360px;
  text-align: left; 
}
h4 {
  font-family:"Microsoft YaHei";
  font-weight: bold;
  color: #000;
}
.menu-list-model {
  margin: 10px auto;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 2px #888888;
  padding: 5px 10px;
}