html, header, body {
  max-width: 360px;
  background-color: #eeeeee;
  font-family:"Microsoft YaHei";
}
div {
  max-width: 360px;
  text-align:center; 
}
h4, strong, small {
  text-align: left;
  font-family:"Microsoft YaHei";
}
.vote-text {
  text-align: left;
  margin: 5px auto;
  font-size: 15px;
}
.vote-module {
  margin: 10px auto;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border: solid #cccccc 1px;
}
.vote-item-module {
  width: 100%;
  margin: 10px auto;
}
.vote-type {
  width: 90%;
  margin: auto;
  text-align: left;
}
.vote-item {
  margin: 5px auto;
  width: 90%;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid #cccccc 1px;
  padding: 0 5px;
}
.vote-img {
  margin: 5px auto;
}
.vote-checkbox {
  text-align: left;
  font-size: 14px;
}
.vote-input {
  width: 90%;
  margin: 20px auto;
}
.vote-summit {
  width: 80%;
  text-align: right;
  margin: 10px auto;
}