html, header, body {
  max-width: 360px;
  min-height: 480px;
  background-color: #eeeeee;
  font-family:"Microsoft YaHei";
}
div {
  max-width: 360px;
  text-align:center; 
}
.navbar-icon {
  width: 20px;
  height: 20px;
}
.navbar-item {
  font-size: 15px;
  width: 22%;
  height: 100%;
  margin-left: 1%;
  padding-top: 10px;
  padding-bottom: 5px;
}
.navbar-item-border {
  border-right-style: dashed;
  border-right-color: #3eb2fb;
  border-right-width: 1px;
}
.navbar-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
}
.bs-glyphicons {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  margin-top: 10px;
  list-style: none;
  overflow: hidden;
  background-color: #f4f4f4;
}
.bs-glyphicons li {
  float: left;
  width: 50%;
  padding: 10px;
  margin: 0 -1px -1px 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #ddd;
}
.bs-glyphicons li img {
  width: 130px;
}
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 16px;
}
.bs-glyphicons li:hover {
  background-color: rgba(86,61,124,.1);
}
.website-list {
  background-color: #f4f4f4;
  width: 100%;
}
.list-item {
  padding: 13px;
  background-color: #f4f4f4;
  border-bottom-style: solid;
  border-bottom-color: #3eb2fb;
  border-bottom-width: 1px;
  color: #666666;
  font-size: 18px;
  text-align: left; 
}
.list-item:hover,
.list-item:focus {
  padding: 13px;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #3eb2fb;
  border-bottom-width: 1px;
  color: #666666;
  font-size: 18px;
  text-align: left; 
}
.list-item-icon,
.list-item-arrow {
  width: 25px;
  height: 25px;
}
.list-item-arrow {
  float: right;
}