html, header, body {
  max-width: 360px;
  background-color: #f4f4f4;
  font-family:"Microsoft YaHei";
  color: #aaa;
}
div {
  max-width: 360px;
  text-align:center; 
}
.toolbar{
	padding-left:2%;
}
.list-item {
  padding: 8px 15px;
  background-color: #f4f4f4;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;
  color: #aaa;
  font-size: 18px;
  text-align: left; 
}
.list-item:hover,
.list-item:focus {
  background-color: #ffffff;
}
.list-item-icon {
  width: 90px;
  height: 48px;
  border-radius: 5px;
}
.list-link,
.list-link:hover {
  line-height: 48px;
  color:#666;
  text-decoration: none;
}