html, header, body {
  max-width: 360px;
  min-height: 516px;
  font-family:"Microsoft YaHei";
}
body {
  background-image: url(../../img/website/bg_05.jpg);
  background-repeat: no-repeat;
}
div {
  max-width: 360px;
}
.navlist-right {
  position: fixed;
  right: 0;
  top: 0;
}
.navlist {
  margin-top: 20px;
}
.navlist-item {
  margin-top: 20px;
}
.navlist-icon {
  width: 30px;
  display: block;
}
.contentlist {
  max-width: 300px;
}
.contentlist-item {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #996699;
  opacity: 0.8;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  font-size: 14px;
}
.contentlist-icon {
  width: 40px;
  display: block;
  margin: auto;
  padding-top: 10px;
}