html, header, body {
  max-width: 360px;
  background-color: #E8E7E4;
  font-family:"Microsoft YaHei";
  color: #666666;
}
div {
  max-width: 360px;
  text-align: center; 
}
h4 {
  font-family:"Microsoft YaHei";
  padding-left: 20px;
  margin-bottom: 2px;
  color: #000000;
}
h5 {
  font-family:"Microsoft YaHei";
  padding: 5px 0 15px 0;
  color: #000000;
}
a,
a:hover {
  color: #666666;
  text-decoration: none;
}
.article-model {
  background-color: #ffffff;
  min-width: 250px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #888888;
}
.article-model-header {
  width: 100%;
  text-align: left;
  padding-top: 10px;
}
.article-model-header > small {
  color: #999999;
  font-size: 14px;
  font-family:"Microsoft YaHei";
  padding-left: 20px;
}
.article-model-content {
  width: 100%;
  text-align: center;
  padding: 5px 20px;
  color: #000000;
}
.article-model-content > p {
  width: 90%;
}
.article-model-footer {
  width: 90%;
  margin: auto;
  border-top-style: solid;
  border-top-color: #666666;
  border-top-width: 1px;
  text-align: left;
}
.article-image,
.article-text {
  width: 100%;
  margin: auto;
}
.article-text {
  text-align: left;
}
.article-detail {
  background-color: #f4f4f4;
  text-align: left;
}
