html, header, body {
  max-width: 360px;
  background-color: #E8E7E4;
  font-family:"Microsoft YaHei";
  color: #666666;
}
div {
  max-width: 360px;
  text-align: center; 
}
h4, small {
  font-family:"Microsoft YaHei";
  padding-top: 10px;
  padding-left: 20px;
  color: #000000;
}
small {
  color: #999999;
}
.article-title {
  text-align: left; 
}
.article-content {
  width: 95%;
  margin: 10px auto 20px auto;
  text-align: left;
  color: #000000;
}
.article-btn-group {
  width: 100%;
  margin: auto;
}
.article-btn {
  width: 45%;
  margin: 0 5px;
}
.btn-icon {
  width: 20px;
  height: auto;
}