img {
  width: 80%;
}
.title {
  padding-bottom: 3px;
  width: 100%;
}
.content {
  width: 100%;
  background-image: url(../../img/elove/footer_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.container {
  padding-top: 3px;
  padding-bottom: 3px;
}
.container-border {
  padding: 5px;
  background-color: #f9f9f9;
}
.photo-title {
  width: 100%;
}
.photo-container {
  list-style: none;
}