.title {
  width: 100%;
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  right: 73%;
  height: 78%;
  width: 23%;
  border: 5px solid #ffffff;
  border-radius: 50%;
}
.content {
  padding-top: 40px;
  width: 100%;
  max-width:360px;
  background-image: url(../../img/customer/footer_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0 auto;
  overflow: hidden;
}
.message-title {
  width: 70%;
  margin-left: 18%; 
}
.message-content {
  width: 70%;
  margin-top: 10px;
  margin-left: 18%; 
}
.container {
  width: 80%;
}
ul {
  list-style: none;
  width: 100%;
}
ul > li {
  height: 50px;
  width: 85%;
  margin: 20px auto;
  clear: both;
}
.info-title {
  float: left;
  display: table;
  height: 50px;
  width: 20%;
  background-color: #d8465d;
}
.info-title > p {
  margin: auto;
  text-align: center;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}
.info-content {
  float: right;
  height: 100%;
  width: 80%;
  line-height: 50px;
  color: #d8465d;
  background-color: #faebee;
}
.btn-container {
  margin: 40px auto 20px auto;
}
.btn-container a{
  margin: 0 5px;
}
#popupBack{
  position: absolute;
  top: 0;
  width: 100%;
  height:100%;
  display: none;
  visibility: hidden;
  opacity: 0.6;
  background-color:#ed94ae;
  color:#FFF;
}
#popupBox{
  position: absolute;
  top: 180px;
  right: 5%;
  left: 5%;
  width: 90%;
  padding-bottom:10px;
  display: none;
  visibility: hidden;
  border-radius: 4px;
  background-color:#f9ebed;
  color:#FFF;
}
.popup-content {
  padding: 10px 10px 10px 0;
  width: 100%;
}
.popup-content > a {
  margin-top: 10px;
}
.popup-input {
  margin: 10px auto;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  font-family:"Microsoft YaHei";
  height: 32px;
  width: 85%;
  padding: 3px 0px 3px 15px;
  font-size: 13px;
  color: #ed94ae;
  border-style: solid;
  border-width: 1px;
  border-color: #ed94ae;
  border-radius: 4px;
  outline-style: none;
}
.sidebar-btn {
  float: right;
  height: 10%;
  width: 10%;
  margin-left: 10px;
}
#sideToggle {
  display:none;
}
#sideToggle:checked + aside {
  right:0;
}
#sideToggle:checked ~ #wrap {
  padding-right: 55%;
}
aside {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background: #f8e9ed;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out; 
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px;
}
.nav-pills > li {
  border-bottom-style: solid;
  border-color: #eeeeee;
  border-bottom-width: 1px;
}
.nav-pills > li > a {
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  color: #777777;
  font-size: 16px;
}
.nav-pills > li + li {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: #1ABC9C;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-left-color: #f3a5bd;
  border-left-width: 5px;
  background-color: #fef7f9;
}
.sidebar-encount,
.sidebar-photo,
.sidebar-info,
.sidebar-record {
  font-size: 16px;
  color: #f49cb8;
  padding: 5px 0 10px 40px;
}
.sidebar-encount {
  background: url(../../img/customer/encount_logo.png) no-repeat;
}
.sidebar-photo {
  background: url(../../img/customer/photo_logo.png) no-repeat;
}
.sidebar-info {
  background: url(../../img/customer/info_logo.png) no-repeat;
}
.sidebar-record {
  background: url(../../img/customer/record_logo.png) no-repeat;
}
#wrap {
  float: right;
  margin-left:20px;
  padding:10px;
  transition:0.25s ease-out;
  -webkit-transition:0.25s ease-out;
}
#wrap > label {
  display:inline-block;
  width: 30px;
  height: 30px;
  line-height: 35px;
}