html, header, body {
  background-color: #5bb4d2;
  font-family:"Microsoft YaHei";
}
div {
  text-align:center; 
}
.footer {
  margin: 5px auto;
  padding-top: 15px;
  padding-bottom: 25px;
  width: 80%;
  text-align: center;
  color: #045181;
}
.btn-elove {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#238ccd), color-stop(0.4, #1e87c8), to(#208ac6));
  border-color: #1a7dbb;
}
.btn-elove:hover,
.btn-elove:focus,
.btn-elove:active,
.btn-elove.active,
.open .dropdown-toggle.btn-elove {
  color: #ffffff;
  background-color: #208ac6;
  border-color: #1a7dbb;
}
.btn-elove:active,
.btn-elove.active,
.open .dropdown-toggle.btn-elove {
  background-image: none;
}
.modal-content {
  position: relative;
  background-color: #f6f9fe;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}
.modal-input {
  margin: 8px auto;
  font-size: 16px;
  line-height: 40px;
  font-family:"Microsoft YaHei";
  height: auto;
  width: 100%;
  padding: 3px 15px;
  color: #44a7d1;
  border-style: solid;
  border-width: 1px;
  border-color: #61b9d1;
  border-radius: 4px;
  outline-style: none;
}
.modal-text {
  margin: 8px auto;
  font-size: 16px;
  line-height: normal;
  font-family:"Microsoft YaHei";
  width: 100%;
  padding: 3px 15px;
  color: #44a7d1;
  border-style: solid;
  border-width: 1px;
  border-color: #61b9d1;
  border-radius: 4px;
  outline-style: none;
}
.modal-btn {
  font-size: 16px;
  margin: 10px;
  width: 40%;
}
.top-nav {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: #f6fbfe;
  z-index: 1080;
}
.top-navbg {
  height: 40px;
}
.top-navbar {
  clear: both;
  height: 40px;
  width: 800px;
}
.nav-logo {
  height: 18px;
  width: 18px;
  margin-right: 2px;
}
.top-nav-item {
  width: 110px;
  height: 40px;
}
.audio-item {
  width: 60px;
  height: 40px;
}
.top-nav-item > a {
  color: #42a7d3;
  font-size: 18px;
  text-decoration: none;
  line-height: 40px;
}
.audio-logo {
  margin-top: 10px;
}
.top-nav-item:focus,
.top-nav-item.active {
  border-bottom-style: solid;
  border-bottom-color: #5eb3d2;
  border-bottom-width: 3px;
  background-color: #e7f8ff;
}
.nav-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index:1280;
  height: 40px;
  width: 25px;
  background-color: #f6fbfe;
}
.nav-btn > span {
  height: 40px;
  line-height: 40px;
}