html, body {
  background: #d02c61;
}
.container-bg {
  width: 100%;
}
.container-bg-img {
  width: 1080px;
  margin-left: 135px;
}
ul,li{
  list-style:none;
  margin:0;
  padding:0;
}
.scroll{
  position: absolute;
  top: 225px;
  left: 550px; 
  width: 250px;
  height: 225px;
  overflow:hidden;
  margin:50px auto 0;
}
.scroll li{
  width: 310px;
  height: 45px;
  line-height: 45px;
  overflow:hidden;
  text-align: center;
  font-size: 24px;
  font-family:"Microsoft YaHei";
  color:#333;
}
.lottery-btn {
  position: absolute;
  width: 150px;
  top: 520px;
  left: 615px;
}
.result-pop-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 512px;
  width: 100%;
  height: 100%;
  background-color: #333333;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.result-pop {
  display: none;
  position: fixed;
  top: 30%;
  left: 32%;
  width: 500px;
  height: 318px;
  z-index: 1024px;
}
.result-pop-text {
  position: absolute;
  top: 130px;
  left: 70px;
  width: 300px;
}
.result-pop-btn {
  position: absolute;
  bottom: 40px;
  left: 150px;
  width: 150px;
}
.bless-name {
  font-size: 18px;
  font-family: "Microsoft YaHei";
}
.bless-content {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: #d02c61;
}