.navbar-brand {
  float: left;
  padding: 5px 0px 0px 45px;
  font-size: 18px;
  line-height: 20px;
}
.nav-user {
  padding-right: 45px;
  padding-top: 8px;
}
.sidebar {
  min-height: 760px;
}
.manager-content {
  min-height: 760px;
  background-color: #f5f5f5;
}
.nav-pills > li {
  border-bottom-style: solid;
  border-color: #eeeeee;
  border-bottom-width: 1px;
}
.nav-pills > li > a {
  margin-bottom: 0px;
  border-radius: 0px;
  color: #777777;
  font-size: 16px;
}
.nav-pills > li + li {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border: none;
  color: #ffffff;
  background-color: #1ABC9C;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: #1ABC9C;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-left-color: #1ABC9C;
  border-left-width: 5px;
  background-color: transparent;
}
.nav-pills > li > a > .badge {
  margin-left: 0px;
}
.col-md-2 {
  padding-right: 0px;
}
.col-md-10 {
  padding-right: 0px;
  padding-left: 0px;
}
.sidebar-font {
  font-size: 18px;
}
.row {
  margin-right: 0px;
  margin-left: -15px;
}
.submenu > li > a {
  color: #777777;
  padding-left: 30px
}
.submenu > li > a:hover,
.submenu > li > a:focus {
  color: #1ABC9C;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-left-color: #1ABC9C;
  border-left-width: 5px;
  background-color: transparent;
}
.submenu > li.active > a,
.submenu > li.active > a:hover,
.submenu > li.active > a:focus {
  border: none;
  color: #ffffff;
  background-color: #1ABC9C;
}
.btn-user {
  color: #ffffff;
  background-color: #1ABC9C;
  border-color: #16A085;
}

.btn-user:hover,
.btn-user:focus,
.btn-user:active,
.btn-user.active,
.open .dropdown-toggle.btn-user {
  color: #ffffff;
  background-color: #16A085;
  border-color: #12836D;
}

.btn-user:active,
.btn-user.active,
.open .dropdown-toggle.btn-user {
  background-image: none;
}

.btn-user.disabled,
.btn-user[disabled],
fieldset[disabled] .btn-user,
.btn-user.disabled:hover,
.btn-user[disabled]:hover,
fieldset[disabled] .btn-user:hover,
.btn-user.disabled:focus,
.btn-user[disabled]:focus,
fieldset[disabled] .btn-user:focus,
.btn-user.disabled:active,
.btn-user[disabled]:active,
fieldset[disabled] .btn-user:active,
.btn-user.disabled.active,
.btn-user[disabled].active,
fieldset[disabled] .btn-user.active {
  background-color: #1ABC9C;
  border-color: #16A085;
}
.btn-user .caret {
  border-top-color: #fff;
}
.dropup .btn-user .caret {
  border-bottom-color: #fff;
}
.dish-list {
  list-style: none;
  margin-left: -50px;
}
.dish-list > li {
  margin: 0px 10px 10px 0px;
}
.dish-container {
  margin-left: 20px;
}
.breadcrumb {
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-bottom-width: 1px;
}
.account-tab {
  width: 80%;
  margin: 0 auto;
}
.intro-image {
  width: 300px;
  height: auto;
}
.elove-tab {
  margin-top: 20px;
}
.website-tab {
  margin-top: 20px;
}
.form-btn {
  margin-top: 40px;
}
.pic-preview {
  width: 150px;
  height: 120px;
}
.file-path-elove {
  display: inline;
  width: 43%;
}
.account-select {
  width: 170px;
}
.account-change {
  padding: 10px 15px;
  border-bottom-style: solid;
  border-color: #eeeeee;
  border-bottom-width: 1px;
}
.progress { position:relative; width:350px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
.table-space {
  margin-top: 20px;
}
.album-btn-group {
  padding: 5px 0 20px 0;
}
.btn-margin {
  margin-right: 40px;
}
.album-select {
  width: 200px;
}
.file-path-album {
  display: inline;
  width: 58%;
}
.lottery-content {
  margin: 10px auto;
}