<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
  <display-name>ZhongheWeiHelperR2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
<!-- store -->
     <servlet>
        <servlet-name>store</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>store</servlet-name>
        <url-pattern>/store/*</url-pattern>
    </servlet-mapping>
<!-- ***** --> 

<!-- customer -->
     <servlet>
        <servlet-name>customer</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>customer</servlet-name>
        <url-pattern>/customer/*</url-pattern>
    </servlet-mapping>
<!-- ******* -->

<!-- internal -->
     <servlet>
        <servlet-name>internal</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>internal</servlet-name>
        <url-pattern>/internal/*</url-pattern>
    </servlet-mapping>
<!-- ******* -->

<!-- security -->
     <servlet>
        <servlet-name>security</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>security</servlet-name>
        <url-pattern>/security/*</url-pattern>
    </servlet-mapping>
<!-- ******* -->

<!-- weixin -->
     <servlet>
        <servlet-name>weixin</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>weixin</servlet-name>
        <url-pattern>/zhongheapi/*</url-pattern>
    </servlet-mapping>
<!-- ******* -->

<!-- charset-filter -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
<!-- ************* -->

<!-- security-filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!-- **************** -->	

<!-- session timeout (minutes)-->
<session-config>
  <session-timeout>120</session-timeout>
</session-config>
<!-- ************************ -->

<!-- security-context-loader -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value> 
            /WEB-INF/application-security.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
<!-- ************************* --> 

<!-- catch exception page -->
<error-page>
   <error-code>404</error-code>
   <location>/404.html</location>
</error-page>
<error-page>
   <error-code>400</error-code>
   <location>/400.html</location>
</error-page>
<error-page>
   <error-code>401</error-code>
   <location>/401.html</location>
</error-page>
<error-page>
   <error-code>403</error-code>
   <location>/403.html</location>
</error-page>
<error-page>
   <error-code>405</error-code>
   <location>/405.html</location>
</error-page>
<error-page>
   <error-code>406</error-code>
   <location>/406.html</location>
</error-page>
<error-page>
   <error-code>407</error-code>
   <location>/407.html</location>
</error-page>
<error-page>
   <error-code>408</error-code>
   <location>/408.html</location>
</error-page>
<error-page>
   <error-code>500</error-code>
   <location>/500.html</location>
</error-page>
<error-page>
   <error-code>501</error-code>
   <location>/501.html</location>
</error-page>
<error-page>
   <error-code>502</error-code>
   <location>/502.html</location>
</error-page>
<error-page>
   <error-code>503</error-code>
   <location>/503.html</location>
</error-page>
<error-page>
   <error-code>504</error-code>
   <location>/504.html</location>
</error-page>
<!-- ******************** -->

</web-app>

 